#container {

}

.label {
  color: #0e0e0e;
  font-size: 1.1em;
  font-weight: 300;
}

.value {
  color: #5b5858;
  font-size: 1.1em;
}

.stateDisabled {
  color: #919090;
}

.stateEnabled {
  color: #6dbc28;
}

.stateBringing {
  color: #50959d;
}

.link {
  cursor: pointer;
  color: #50959d;
  font-size: 1.2em;
}

.atm {
  font-size: 1.4em;
  color: #c83333;
}

.paid {
  font-size: 1.4em;
  color: #6dbc28;
}

.finalP {
  margin-bottom: 0.7em;
}
